* {
    padding: 5px
}

.header {
    align-self: center;
}


img {
    width: 300px;
    height: 400px;
}

.container {
    display: flex;
}

.book-info {
    display: flex;
    border: 2px solid red;
    padding-bottom: 10px;
    margin: 12px;
    width: 800px;
    height: fit-content;
}

.book-image {
    padding-left: 20px;
}