.react-root {
    background-color: #8ee4af;
}


.content {
    background-color: #EDF5E1;
    border-radius: 15px;
    margin-left: 5%;
    margin-right: 5%;
    border: 8px outset #05386B;
}

.header {
    margin: auto;
    width: 50%;
    color:#05386B;
    margin-left: 40%;
    margin-right: 40%;
    font-size: larger;
}

/* .freeshelf {
    font-style: #05386B;
    margin-left: auto;
    margin-right: auto;
} */


img {
    width: 300px;
    height: 400px;
}

.container {
    display: flex;
}

.book-info {
    display: flex;
    border: 2px dotted #05386B;
    border-radius: 15px;
    padding-bottom: 10px;
    margin: 12px;
    width: fit-content;
    height: fit-content;
    /* background-color: #950740; */
}

.book-text {
    padding-left: 10px;
}

b {
    font-style: italic;
}
.book-image {
    padding-left: 20px;
    margin-right: 10px;
    margin-top: 5px;
}

